*{
    margin: 0;
    padding: 0;
    border: none;
}
.btn:hover{
    cursor: pointer;
}
.btn,.text{
    font-family: "DM Mono", monospace;
    font-weight: 450;
    font-size: 2vw; /* 13 em*/
    -webkit-text-fill-color: #6A472E;
}
.btn#abandon{
    width:fit-content ;
    height: fit-content;
    padding: 1.5vw;
    position: absolute;
    background-color: #FFE5A3;
    border: #6A472E solid 0.3vw;
    border-radius: 1.75vw;
    display: grid;
    grid-template-columns: 3.5vw 1fr;
    align-items: center;
    top: 5%;
    left: 2%;
}
.btn#abandon img{
    width: 2.5vw;
    height: auto;
    justify-self: left;
}
.container{
    display: grid;
    grid-template-columns: 10vw 1fr 10vw;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    /* max-height: 100vh; */
    /* max-width: 1024px; Default setting TODO wait for @media query to modify this property */
}
.banner{
    background-color: #FDC453;
    padding: 5vh;
}
.banner#header{
    grid-area: 1/1/1/4;
    /* padding: 2.5rem; */
}
.banner#footer{
    grid-area: 4/1/4/4;
}
main{
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 16vh 1fr 16vh;/* 10rem 1fr 10rem*/
    grid-template-areas: 
    "partyId partyId partyId"
    "player1 pedChar player2"
    "startbtn startbtn startbtn";
    align-content: center;
    justify-content: center;
}
#partyId{
    grid-area: partyId;
    text-align: center;
    align-content: center;
}
p#ped{
    font-size: 2vw;/* 1.5rem */
}
p#num{
    font-size: 3.5vw;/*2.5rem*/
}
#player1{
    grid-area: player1;
}
#player2{
    grid-area: player2;
}
.player{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    justify-items: center;
}
.ready{
    height: fit-content;
    position: relative;
    top: 10vh;
    /* margin-top: 10%; */
}
.pbox{
    position: relative;
    top:30%;
    /* margin-top: 30%; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr;
    box-sizing: border-box;
    width: 80%;
    height: 15vw;
    background-color: #FFE5A3;
    padding: 1vw;
    justify-items: center;
    text-align: center;
    border: #6A472E solid 0.3vw;
    border-radius: 1.5vw;
}
p.top{
    position: relative;
    top: -100%;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #FFE5A3 50%,#FFE5A3  100%);
    padding-right: 5%;
    padding-left: 5%;
}
.name{
    position: relative;
    top: -15%;
    box-sizing: border-box;
    width: fit-content;
    height: 90%;
    padding: 2vw;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    background-color: #FDC453;
    border-radius: 1.5vw;
}
.btn#copy p.text{
    font-size: 1.25vw;
    align-self: center;
    -webkit-text-fill-color: #C59F67;
}
.btn#copy img{
    width: 2.5vw;
    height: auto;
    justify-self: right;
}
.btn#copy{ /* TODO complete the copy link button */
    display: grid;
    justify-self: center;
    grid-template-columns: auto 3.5vw;
    /* grid-gap: 2rem; */
    align-items: center;
    font-size: 1vw;
    position: relative;
    top: -10%;
    box-sizing: border-box;
    width: 90%;
    height: 80%;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #FDC453;
    border-radius: 1.5vw;
}
.pbox .status{
    position: relative;
    top: -30%;
}

.form-control {
    font-size: 2vw;
    /* font-weight: bold; */
    line-height: 1.1;
    display: grid;
    grid-template-columns: auto 1em;
    gap: 0.5em;
}
input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #6A472E;
    border-radius: 0.15em;
    display: grid;
    place-content: center;
}
.form-control + .form-control {
    margin-top: 1em;
}
input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #6A472E;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
  
input[type="checkbox"]:checked::before {
    transform: scale(1);
}
.pedChar{
    display: flex;
    grid-area:pedChar;
    justify-content: center;
    align-content: center;
    text-align: center;
}
img#topPed{
    position: relative;
    width: clamp(16vw,80%,18vw);
    height: auto;
    align-self: center;
}
#water{
    position: absolute;
    align-self: center;
    /* top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); */
    z-index: -1;
    width: clamp(18vw,80%,22vw);
    height: clamp(18vw,80%,22vw);
    background-color: #CAECFA;
    border-radius:100%;
    box-shadow: 0 0 0 3px none;
}
.wrapper{
    display: flex;
    grid-area: startbtn;
    justify-content: center;
    align-content: center;
}
button#start{
    position: relative;
    width: 30%;
    height: 11vh;
    font-weight: 600;
    border: #6A472E solid 0.3vw;
    border-radius: 1.5vw;
    background-color: #FDC453;
    top: 15%;
}
@media (max-height:500px){
    .ready{
        top: 50%;
    }
    .banner{
        padding: 2vh;
    }
}

.name {
    width: 90%;
}